@model IEnumerable<UserCourseDTO>
    
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <button-container class="button-col-width" controller="@ViewContext.RouteData.Values["controller"].ToString()" actions="Create" descriptions="Create New"></button-container>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Course
            </th>
            <th>
                User
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.CourseId)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CourseId)
                    </td>*@
                <td>
                    @*Edit link not working initially because "asp-route-userId" came through as "as(o)-route-userId"*@

                    <button-container class="button-col-width" controller="@ViewContext.RouteData.Values["controller"].ToString()" actions="Edit,Details,Delete" use-glyphs="true" id-userId="@item.UserId" id-courseId="@item.CourseId"></button-container>
                </td>
            </tr>
        }
    </tbody>
</table>